header {
    background-color: #29283d;
    color: #fff;
    padding: 20px 10px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}

header nav button {
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    font-size: 24px;
    color: #ff9900;
    background: transparent;
    border: none;
    cursor: pointer;
}

header nav button:hover {
    color: #ff6600;
}

body {
    background-color: #1e1e2c;
}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
    border: none;
    pointer-events: none;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10PX;
}

.card {
    color: #fff;
    border: solid 2px #fff;
    border-radius: 4px;
    padding: 6px;
    background-color: #1e1e2c;
}

.card .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card .card-header button {
    background-color: #ff9900;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}
.card .card-header button:hover {
    background-color: #ff6600;
}

.horizontal-select {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 6px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.horizontal-select li {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 15px;
    padding: 5px;
    margin: 0;
    border: none;
    cursor: pointer;
    list-style-type: none;
}

.horizontal-select li.selected {
    border: 3px solid #ff9900;
}

.group div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

.group div p {
    width: 40%;
}

.group div input {
    width: 60%;
    height: 30px;
}

.group button {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    background-color: #ff9900;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
}

.group button:hover {
    background-color: #ff6600;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: 9999;
}

.modal button {
    position: fixed;
    top: 5%;
    right: 5%;
    background-color: transparent;
    border: none;
    color: #ff9900;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.modal button:hover {
    color: #ff6600;
}

#cart-canvas {
    background-color: #1e1e2c;
    width: 95%;
    height: 95%;
    border: 2px solid #fff;
    border-radius: 2px;
}

